/* Main background color #F5F5F5 */
/* Main text color #757575 */
/* Secondary background color #F5F4FA */
/* Backgroung-footer and hero #2F303A */
/* logo, buttoms hover and focus #2196F3 */
/* Hero main text,
   text of hover and focus buttoms and anchors,
   footer main text #FFFFFF */
/* Second text color  rgba(255, 255, 255, 0.6) */
/* Section titles color #212121 */
/* #EEEEEE */
/* Logo color  #000000*/
/* #ECECEC */

/* Шрифти */
/* Raleway 700*/
/* Roboto 400*/
/* Roboto 500*/
/* Roboto 700*/
/* Roboto 900*/

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--second-text-color: rgba(255, 255, 255, 0.6);
	--secondary-background-color: #f5f4fa;
	--third-background-color: #2f303a;
	--main-background-color: #ffffff;
}

/* Прибираємо крапки зі списків */
.list,
.features-list,
.command-list,
.portfolio-list {
	list-style: none;
}

/* Прибираємо підкреслення у посилань */
a {
	text-decoration: none;
}

/* Основні стилі */
body {
	background-color: var(--main-background-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

/* Хедер */

/* Логотип */

.logo-web,
.logo-studio {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}

.logo-web {
	color: var(--accent-color);
}
.logo-studio {
	color: #000000;
}

nav .link:hover,
nav .link:focus {
	color: var(--accent-color);
}
/* Site-nav */

.site-nav .link {
	color: #212121;
}

.site-nav .link.current {
	color: var(--accent-color);
}

.list .link:hover,
.list .link:focus {
	color: var(--accent-color);
}

/* Контакти */
.contacts .link {
	color: inherit;
}

.site-nav .link,
.contacts .link {
	font-family: inherit;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

/* Заголовки секцій і списків */

/* Секція герой */
.section.hero .title,
.adress-link,
.footer .logo-studio {
	color: #ffffff;
}

.section.hero {
	background-color: #2f303a;
}

.section.hero > .title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.section.hero .btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
}

/* Секція Особливості роботи */
.features-list .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.features-list .text {
	font-size: 14px;
	line-height: 1.71;
}

/* Секція чим ми займаємось */
.section > .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}
/* Секція наша команда */

.command-list .title {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.command-list .text {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.command {
	background: var(--secondary-background-color);
}
/* Футер */

.adress-link:hover,
.adress-link:focus {
	color: var(--accent-color);
}

.adress .link {
	font-style: normal;
	color: var(--second-text-color);
	font-size: 14px;
	line-height: 1.71;
}

.adress-link {
	font-style: normal;
}

.footer {
	background-color: var(--third-background-color);
}

/* ПОРТФОЛІО */

/* Хедер і футер стилі задані раніше. Такі самі як на говлній сторінці */

/* Головна секція - портфоліо */

/* Button */

.btn {
	color: var(--title-text-color);
	background-color: var(--secondary-background-color);
	font-family: inherit;
	cursor: pointer;
}

.btn.primary {
	color: #ffffff;
	background-color: var(--accent-color);
}

.list .btn.primary {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
}

.list .btn.socondary {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
}

.btn:hover,
.btn:focus {
	color: #ffffff;
	background-color: var(--accent-color);
}

/* Посилання на проєкти */

.portfolio-list .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-list .text {
	color: var(--primary-text-color);
	font-size: 16px;
	line-height: 1.88;
}
